@import '@fontsource/red-hat-display';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0d1a51;
  --primary-color--highlighted: #1e2b64;
  --secondary-color: #56cbfe;
  --background-color: #f8f9ff;
  --accent-color: #237ef9;
  --main-font: 'Red Hat Display';
  font-family: var(--main-font);
  background: var(--background-color);
	font-size: 62.5%;
}
