@import '@fontsource/red-hat-display';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Red Hat Display';
  --primary-color: #0d1a51;
  --primary-color--highlighted: #1e2b64;
  --secondary-color: #56cbfe;
  --background-color: #f8f9ff;
  --accent-color: #237ef9;
}